body{
    background: url("inter.jpg") no-repeat;
    background-size: 1367px 657px;
    position: relative;
}
/*预留*/
.bk{
    width:600px;
    height:300px;
    position: absolute;
    left:350px;
    top:220px;
    border: 10px#BDB76B groove;
}
.img1{
    width: 310px;
    height: 200px;
    position: absolute;
    left:470px;
    top:70px;
}
.img2{
    width: 310px;
    height: 200px;
    position: absolute;
    left:470px;
    top:70px;
}
.dis{
    display:block;
    transition: 1s;
    transform: scale(3);
    opacity: 0;
}	
.write{
    text-indent: 36px;
    font-size:18px;
    font-weight: bold;
    margin: auto;
    font-family: Verdana;
}