*{
    padding:0;
    margin: 0;
}
body{
    background: url("bg2.jpg") no-repeat;
    background-size: cover;
    position: relative;
}
.img1{
    width:325px;
    height:175px;
    position: absolute;
    right:30px;
    top:30px;
    animation: toLeft 5s forwards ease-in-out;
}
.timg{
    width: 200px;
    height: 175px;
    position: absolute;
    top:340px;
    right:550px;
    animation: fade 4s forwards;
    opacity: 0.8;
}
div{
    width: 305px;
    color:white;
    font-weight: bold;
    font-size: x-large;
    margin: 0 auto;
    margin-top:10px;
}

.timg:hover{
    opacity: 0.7;
}
div:hover{
    outline:2px blue solid;
}
/*预留*/
@keyframes fade{
    0% {transform: translateX(0px);}
    15% {transform: translate(-50px,-50px); }
    30% {transform: translate(-100px,0); }
    45% {transform: translate(-150px,-50px); }
    60% {transform: translate(-200px,0); }
    75% {transform: translate(-250px,-50px); }
    90% {transform: translate(-300px,0px);opacity: 1; }
    100% {transform: translate(-300px,200px);opacity: 0; }
}
@keyframes toLeft {
    0% {
        transform: translateX(0);opacity: 1;
    }
    100% {
        transform: translateX(-950px); opacity: 0.5;
    }
}
